#txtName , #txtDesc ,#txtPrice , #txtCategory , #txtItemName , #txtItemQty , #txtEmail , #txtStockLevel , #txtContact , #txtAddress , #txtSalary , #searchBar{
    -fx-background-color: transparent;
    -fx-border-color: #FF971D;
    -fx-border-width: 0 0 2px 0;
    -fx-text-fill: black;
}

#btAddItem , #btImageChoose  , #btnSearch{
    -fx-background-color: transparent;
    -fx-border-color: #FF971D;
    -fx-text-fill: black;
}

#btAddItem:hover , #btImageChoose:hover  , #btnSearch:hover{
    -fx-border-color: black;
    -fx-text-fill: black;
}
