#menuAnchor{
    -fx-background-color: #F9F6F7;
}

#itemAnchor{
    -fx-background-color: #F9F6F7;
}

#searchField , #txtCustomerName , #txtCustomerContact{
    -fx-background-color: transparent;
    -fx-border-color: #FF971D;
    -fx-border-width: 0 0 2px 0;
    -fx-text-fill: black;
}

#scrollPanle{
    -fx-background-color: transparent;
}

#checkoutButton {
    -fx-background-color: transparent;
    -fx-border-color: #FF971D;
    -fx-text-fill: black;
}

#checkoutButton:hover{
    -fx-border-color: black;
    -fx-text-fill: black;
}